[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/afif/Desktop/Vivado 2019.1.desktop]
row=1
col=0

[/home/afif/Desktop/Vivado HLS 2019.1.desktop]
row=2
col=0

[/home/afif/Desktop/Documentation Navigator.desktop]
row=0
col=0

